# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: 

1. Python
2. R
3. SQL
4. Java
5. C++
6. Scala

Some of the commonly used libraries used by Data Scientists include:

1. NumPy 
2. Pandas
3. Matplotlib
4. PyTorch
5. TensorFlow
6. caret

|Data Science Tools|
|-----|
|Jupyter Notebook|
|RStudio|
|Spyder|
|Anaconda|
|TensorFlow|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers

Evaluate = (3*4)+5
print (Evaluate)

17

In [3]:
#This will convert 200 minutes to hours by diving by 60

min = 200
hr = min // 60
remainder = min % 60 
print (hr, "hr", "",  remainder, "min")

3 hr  20 min

Objectives:

- Create a Jupyter Notebook
- Create markdown cells with titles using deferent H style headings
- List Popular languages for Data Science
- List commonly used libraries used in Data Science
- List development environment open source tools in Data Science
- Create a code cell and evaluate arithmetic expression
- Create a code cell and convert minutes to hours

## Author
Nkululeko Msomi